@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap');
* {
  scroll-behavior: smooth;
}
#home {
  background-color: black;
  padding-top: 3rem;
  height: 120vh;
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: black !important; 

}
.navbar-nav {
  margin-left: auto;
}
.navbar-brand {
  font-family: 'Geist', sans-serif;
  font-size: 24px;
  color: #ffffff !important;
}
.navbar-brand span{
  color: #ff5733;
}
.navbar-nav .nav-item .nav-link {
  font-size: 18px;

  color: #ffffff;
  font-family: "Geist mono", sans-serif;
}
.navbar-nav .nav-item .nav-link:hover {
  color: #ff5733;
}

.navbar-toggler {
  border: 3px solid #ff5733;
  padding: 8px 10px;
  border-radius: 5px;
}

.navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}

/* Style the hamburger icon (3 lines) */
/* .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23ffffff' stroke-linecap='round' stroke-miterlength='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  width: 30px;
  height: 20px;
} */
.home-text {
  margin: 5rem auto;
  padding-top: 3.5rem;
  text-align: left;
  color: #ffffff;
  font-family: 'Geist', sans-serif;
}
.home-text h1 {
  font-size: 4.8rem;
  font-weight: 600;
  font-family: "Geist mono", sans-serif;
}
.home-text h1 span {
  color: #ff5733;
  font-family: "Geist mono", sans-serif;
}
.home-text .welcome span {
  color: #ff5733;
  font-family: "Geist mono", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
}
.home-text p {
  font-size: 1.4rem;
  font-weight:300;
}
.home-text {
  display: block;
  justify-content: left;
  align-items: center;
  /* padding: auto 2rem; */
}
.home-image img {
  padding-top: 4rem;
  display: none;
}
.buttons{
  display: flex;
  justify-content: left;
  gap: 10px;
}
.buttons #btn {
  background-color: #ff5733;
  color: #ffffff;
  border: 2px solid #ff5733;
  font-family: 'Geist Mono', monospace;
  transition: .3s ease-in-out;
}
.buttons #btn:hover {
  background-color: black;
  color: #ff5733;
}
.buttons #btn2 {
  color: #ffffff;
  border: 2px solid #ff5733;
  font-family: 'Geist Mono', monospace;
}
.buttons #btn2:hover {
  background-color: #ff5733;
  color: #ffffff;
}
.navbar-toggler-icon {
  color: #ff5733;
}

#about, #services {
background-color: black;
  font-family: 'Geist', sans-serif;
  padding: 1.6rem 1rem;

}
.about-section-begin, .service-section-begin {
  color: #ff5733;
  font-size: 1rem;
  font-weight: 300;
  font-family: 'Geist Mono', monospace;
  border: 1px solid #ff5733;
  width: fit-content;
  padding: .25rem .7rem;
  border-radius: 15px;
}
.about-section-begin span{
  font-weight: 900;
}

.about-section h2, .service-section h2 {
  color: #ffffff;
  font-size: 2.5rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-family: 'Geist mono';
}

.about-section-text, .service-card {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 1px;
  width:80%;
}
.about-section-image img{
  width: 100%;
  margin-top: 2.3rem;
}
.services-cards {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  
}
.service-card h3 {
  margin-top: .5rem;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #ff5733;
  text-transform: uppercase;
  font-family: 'geist mono', monospace;
}
.service-card p {
  margin-top: 1rem;
  color: #ffffff;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: 1px;
  font-size: 1.1rem;
}
.service-card{
  padding: 1.5rem;
  border: 1px solid #ff5733;
  border-radius: 10px;

}
.service-main-card{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.service-section-image img{
  width: 70%;
  margin-top: 10rem;
}





















@media (min-width:300px) and (max-width: 850px) {
  .home-text h1 {
    font-size: 3.8rem;
  }
  .home-text p {
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 1px;
  }
  .buttons{
    display: flex;    
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    align-items: left;
  }
  .buttons #btn, .buttons #btn2 {
    width: 100%;
  }
  .home-image img {
    width: 80%;
  }
  #about{
    padding: 2rem 1rem;
  }
  .about-section-text, .service-card {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: 1px;
  width:100%;
}
.about-section h2, .service-section h2 {
  margin-top: 3rem;
  font-family: 'Geist mono';
}
}
